.as-debug {
    border: 1px solid red;
}
/* general */
header{
    background-color: lightskyblue;
    margin: 2rem;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
    background-color: lightblue;
}
main {
    background-color: whitesmoke;
}
.pointer {
    cursor: pointer;
}
/* header */
img {
    width: 20%;
    height: 60px;
}